<div class="content-body">
  <%- partial('mew/components/selector-major-categories', {category: 'categories'}) %>

  <div class="mew___categories_cat-categories page-container">
    <div class="wrap">
      <div class="category-container">
        <div class="cat-group">
          <h3>Introduction</h3>
          <ul>
            <li>
              <a href="/posts/Getting_Started/How_To_Create_A_Wallet/">
                <div>
                  <img src="/images/mew-icons/get-started.svg">
                  <p>Get Started</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Common_Issues/Insufficient_Funds/">
                <div>
                  <img src="/images/mew-icons/common-issues.svg">
                  <p>Common Issues</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Diving_Deeper/Does_MEW_API_Limit_Amount_of_Requests/">
                <div>
                  <img src="/images/mew-icons/diving-deeper.svg">
                  <p>Diving Deeper</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="cat-group">
          <h3>Access Wallet</h3>
          <ul>
            <li>
              <a href="/posts/MEWconnect/MEWconnect_101_Connect/">
                <div>
                  <img src="/images/mew-icons/mewconnect.svg">
                  <p>MEWconnect</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Hardware_Wallets/Using_Ledger_With_MEW/">
                <div>
                  <img src="/images/mew-icons/hardware-wallet.svg">
                  <p>Hardware Wallet</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Migrating_To_And_From_MEW/Importing_V2_JSON_File/">
                <div>
                  <img src="/images/mew-icons/migrating.svg">
                  <p>Migrating</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="cat-group">
          <h3>Security</h3>
          <ul>
            <li>
              <a href="/posts/Security_And_Privacy/Ensuring_MEW_Doesnt_Give_People_Same_Address/">
                <div>
                  <img src="/images/mew-icons/security-and-privacy.svg">
                  <p>Security & Privacy</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Private_Keys_And_Passwords/Lost_Private_Key/">
                <div>
                  <img src="/images/mew-icons/private-keys-and-password.svg">
                  <p>Private Keys & Password</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="cat-group">
          <h3>Functions</h3>
          <ul>
            <li>
              <a href="/posts/Tokens/Adding_Token_as_a_Default/">
                <div>
                  <img src="/images/mew-icons/tokens.svg">
                  <p>Tokens</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Offline/Offline_MEW_Looks_Weird/">
                <div>
                  <img src="/images/mew-icons/offline.svg">
                  <p>Offline</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Networks_And_Nodes/How_to_Change_Networks/">
                <div>
                  <img src="/images/mew-icons/network.svg">
                  <p>Network & Nodes</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Transactions/Checking_or_Replacing_a_TX_After_Sending/">
                <div>
                  <img src="/images/mew-icons/transactions.svg">
                  <p>Transactions</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/Swap/Buy_ETH_via_Simplex/">
                <div>
                  <img src="/images/mew-icons/swap.svg">
                  <p>Swap</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/posts/ENS/Debugging_Bad_Instruction_Reveal/">
                <div>
                  <img src="/images/mew-icons/ens.svg">
                  <p>ENS</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .category-container -->
    </div>
    <%- partial('mew/components/bottom-helpers') %>
  </div>
</div>
