<header>
  <div class="page-container">
    <div class="header-wrap">
      <%- partial(theme.theme_desktop + '/components/header/header-top-block', null) %>
      <div class="page-title">
        <div class="title"><%= page.primary_category_display_name %></div>
      </div>
    </div>
  </div>
</header>