<header>
  <div class="header-wrap">
    <%- partial(theme.theme_mobile + '/components/header/header-top-block', null) %>
    <div class="page-title">
      <div class="title"><%= page.primary_category_display_name %></div>
    </div>
  </div>
</header>