<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
<%- partial('mew/selector-major-categories', {category: 'categories'}) %>

<div class="mew___categories_cat-categories page-container">
  <div class="wrap">
    <div class="category-container">
      <div class="cat-group">
        <h3>Introduction</h3>
        <ul>
          <li>
            <img src="/images/mew-icons/get-started.svg">
            <p>Get Started</p>
          </li>
          <li>
            <img src="/images/mew-icons/common-issues.svg">
            <p>Common Issues</p>
          </li>
          <li>
            <img src="/images/mew-icons/diving-deeper.svg">
            <p>Diving Deeper</p>
          </li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Access Wallet</h3>
        <ul>
          <li>
            <img src="/images/mew-icons/mewconnect.svg">
            <p>MEWconnect</p>
          </li>
          <li>
            <img src="/images/mew-icons/hardware-wallet.svg">
            <p>Hardware Wallet</p>
          </li>
          <li>
            <img src="/images/mew-icons/migrating.svg">
            <p>Migrating</p>
          </li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Security</h3>
        <ul>
          <li>
            <img src="/images/mew-icons/security-and-privacy.svg">
            <p>Security & Privacy</p>
          </li>
          <li>
            <img src="/images/mew-icons/private-keys-and-password.svg">
            <p>Private Keys & Password</p>
          </li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Functions</h3>
        <ul>
          <li>
            <img src="/images/mew-icons/tokens.svg">
            <p>Tokens</p>
          </li>
          <li>
            <img src="/images/mew-icons/offline.svg">
            <p>Offline</p>
          </li>
          <li>
            <img src="/images/mew-icons/network.svg">
            <p>Network & Nodes</p>
          </li>
          <li>
            <img src="/images/mew-icons/transactions.svg">
            <p>Transactions</p>
          </li>
          <li>
            <img src="/images/mew-icons/swap.svg">
            <p>Swap</p>
          </li>
          <li>
            <img src="/images/mew-icons/ens.svg">
            <p>ENS</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- .category-container -->

    <%- partial('mew/components/bottom-helpers') %>

  </div>
</div>
