<footer>
  <div class="page-container">
    <div class="wrap">
      <div class="block-left">
        <p><a href="/"><%= _p('home') %>Home</a></p>
        <p><%= _p('privacy') %>Privacy</p>
        <p><%= _p('terms') %>Terms</p>
      </div>
      <div class="block-right">
        <p>© 2018 MyEtherWallet. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>