<% console.log('========================================') %>

<div class="mew___posts_cat-faqs">
  <div class="accordion-header">
    <div class="post-title"><%= post.title %></div>
    <div class="post-button"></div>
  </div>
  <div class="mew___md___content-style accordion-content">
    <div class="padding-block"><%- post.content %></div>
  </div>
</div>