  <div class="mew___categories_cat-videos">

    <div class="wrap">
      <div class="youtube-container">
        
      </div>
    </div>

    <%- partial('_partial/mew/components/bottom-helpers') %>
    
  </div>
