  <div class="mew___categories_cat-videos">

    <div class="wrap">
      
      <div class="youtube-container">
        <div class="sidebar">
          MEWconnect
        </div>
        <ul>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="images/youtube/part1.jpg">
              </div>
              <div class="video-info">
                <p>Part 1 of MEWconnect 101:</p>
                <p>Create a wallet</p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe">
                <iframe width="900" height="506" src="https://www.youtube.com/embed/p2q6qrcKtj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="images/youtube/part2.jpg">
              </div>
              <div class="video-info">
                <p>Part 2 of MEWconnect 101:</p>
                <p>Back up your wallet</p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe">
                <iframe width="900" height="506" src="https://www.youtube.com/embed/p2q6qrcKtj8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="images/youtube/part3.jpg">
              </div>
              <div class="video-info">
                <p>Part 3 of MEWconnect 101:</p>
                <p>Connect to MEW</p>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="images/youtube/part4.jpg">
              </div>
              <div class="video-info">
                <p>Part 4 of MEWconnect 101:</p>
                <p>Make a transaction</p>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <img src="images/youtube/part5.jpg">
              </div>
              <div class="video-info">
                <p>Part 5 of MEWconnect 101:</p>
                <p>Wallet overview</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <%- partial('_partial/mew/components/bottom-helpers') %>
    
  </div>
