  <div class="mew___categories_cat-categories">
    <div class="wrap">
      <div class="cat-group">
        <h3>Introduction</h3>
        <ul>
          <li>
            <p>Get Started</p>
          </li>
          <li>
            <p>Common Issues</p>
          </li>
          <li>
            <p>Diving Deeper</p>
          </li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Access Wallet</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Security</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="cat-group">
        <h3>Functions</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
