<header>
  <div class="header-wrap page-container">
    <div class="top-block">
      <div class="left">
        <a href="/"><img src="/images/mew-logo-white.png"></a>
        <p>Help Center</p>
      </div>
      <div class="right">
        <ul>
          <% for (var i in theme.menu){ %>
            <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="page-title">
      <div class="title"><%= page.primary_category_display_name %></div>
    </div>
  </div>
</header>