<div class="mew___components_thumbs-up-down">
  <div class="wrap">
    <div>Was it helpful?</div>
    <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><p>&nbsp;(0)</p></div>
    <div><i class="fa fa-thumbs-o-down" aria-hidden="true"></i><p>&nbsp;(0)</p></div>
  </div>
</div>
