
<div class="mew___components_sidebar_customer-support-block">
  <div class="wrap">
    <div class="icon-image">
      <%- image_tag('images/mew-icons/customer-support.svg') %>
    </div>
    <div class="content">
      <div class="title"><%= _p('help.customer_support') %></div>
      <div class="email-us">
        <a href="mailto:support@myetherwallet.com" target="_blank">
          <%= _p('help.email_us') %>&#x2192;
        </a>
      </div>
    </div>
  </div>
</div>
<!-- .bottom-helpers -->
