<footer>
  <div class="page-container">
    <div class="wrap">
      <div class="block-left">
        <p><a href="https://myetherwallet.com" target="_blank"><%= _p('home') %></a></p>
        <p><a href="https://www.myetherwallet.com/privacy-policy" target="_blank"><%= _p('privacy') %></a></p>
        <p><a href="https://www.myetherwallet.com/terms-and-conditions" target="_blank"><%= _p('terms') %></a></p>
      </div>
      <div class="block-right">
        <p>© 2018 MyEtherWallet. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>