<%if (page.base == '') {%>
  <div class="mew___major-categories mew-tabs">
    <ul>
      <li class="active" ref="tab1"><span>FAQs</span></li>
      <li ref="tab2"><span>Categories</span></li>
      <li ref="tab3"><span>Videos</span></li>
    </ul>
    <ul>
      <li class="tab1">
        <%- partial('_partial/mew/categories/cat-faqs') %>
      </li>
      <li class="tab2 active">
        <%- partial('_partial/mew/categories/cat-categories') %>
      </li>
      <li class="tab3">
        <%- partial('_partial/mew/categories/cat-videos') %>
      </li>      
    </ul>
  </div>
<%}%>
