
// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"


// Mew Colors
mew-color-black = #000

mew-color-light-grey-1 = #999999
mew-color-light-grey-2 = #cecece
mew-color-light-grey-3 = #506175

mew-color-green-1 = #05c0a5

mew-color-text-1 = #003945

mew-color-background-1 = #eaeaea
mew-color-background-2 = #f2fafa
mew-color-background-3 = #111e29

mew-color-box-shadow-1 = rgba(0, 0, 0, 0.4)
mew-color-box-shadow-2 = rgba(0, 0, 0, 0.8)

mew-color-transparent-background-1 = rgba(0, 0, 0, 0.7)
mew-color-transparent-background-2 = rgba(255, 255, 255, 0.2)
