
//=========================================================================
// body
//=========================================================================
p, span, h1, h2, h3, h4, h5, h6, div
  color: mew-color-text-1
  line-height: initial

p
  font-size: 14px

h3
  font-size: 22px
  font-weight: 600

body
  font-family: 'Montserrat', sans-serif


a:link,
a:visited,
a:hover,
a:active
  text-decoration: none


.site-wrap
  background-color: white
  min-height: 100vh

.content-body
  padding: 60px 0 60px 0

.page-container
  max-width: 1200px
  margin: 0 auto


textarea:focus, input:focus
  outline: none

.hidden
  display: none


//=========================================================================
// MD document content styles
// .mew___md___content-style
//=========================================================================
.mew___md___content-style {
  
}


//=========================================================================
// .mew___components_major-categories
//=========================================================================
.mew___components_major-categories
  user-select: none
  height: 90px

  >ul
    display: flex
    align-items: center
    >li
      font-size: 30px
      font-weight: 400
      padding: 0
      margin-right: 50px
      span
        cursor: pointer
        color: mew-color-light-grey-1
        line-height: initial
        padding-bottom: 7px
      &.active
        font-weight: 600
        span
          border-bottom: 2px solid mew-color-black
          color: mew-color-text-1



//=========================================================================
// .mew___categories_cat-faqs
//=========================================================================
.mew___categories_cat-faqs
  .accordion
    border-top: 1px solid mew-color-background-1
    padding: 0 10px

    .accordion-header
      position: relative
      user-select: none
      cursor: pointer

      .post-title
        font-size: 18px
        font-weight: 600
        padding: 25px 0

      .post-button
        &::before,
        &::after
          position: absolute
          right: 0
          top: 0
          bottom: 0
          margin: auto 0
          content: ''
          height: 4px
          width: 20px
          background-color: mew-color-text-1

        &::after
          transform: rotate(90deg)
          transition: all 0.7s ease

    .accordion-content
      overflow: hidden
      max-height: 0
      transition: all 0.4s ease

      h2
        display: none

      .padding-block
        padding-bottom: 30px

    &.open
      .accordion-content
        max-height: 2000px

      .accordion-header
        .post-button::after
          transform: rotate(720deg)




//=========================================================================
// .mew___categories_cat-categories
//=========================================================================
.mew___categories_cat-categories
  padding-top: 20px

  .category-container
    .cat-group
      margin-bottom: 60px

      ul
        padding-top: 20px
        display: grid
        grid-gap: 15px
        grid-template-columns: 1fr 1fr 1fr
        width: 100%
        li div
          user-slect: none
          cursor: pointer
          background-color: mew-color-background-2
          padding: 15px
          display: flex
          align-items: center

          p
            font-size: 20px
            font-weight: 400

          .post-counter
            display: none
            //display: flex
            align-items: center
            justify-content: center
            background-color: #f00
            margin-left: 5px
            border-radius: 100%
            height: 15px
            width: 15px
            p
              font-weight: 600
              font-size: 13px
              color: #fff
            
            


//=========================================================================
// .mew___categories_cat-videos
//=========================================================================
.mew___categories_cat-videos
  padding-top: 30px
  .youtube-container
    display: grid
    grid-template-columns: 240px 1fr
    .sidebar
      font-size: 22px
      font-weight: 600

    ul
      display: grid
      grid-gap: 60px 30px
      grid-template-columns: 1fr 1fr 1fr
      li
        &:hover
          .video-thumbnail img
            box-shadow: 0px 0px 50px mew-color-box-shadow-1

        .video-button
          cursor: pointer

        .video-thumbnail
          img
            width: 100%

        .video-info
          margin-top: 10px;

  .video-popup
    .video-iframe
      display: none;      
      position: fixed
      left: 0
      top: 0
      width: 100vw
      height: 100vh
      background-color: mew-color-transparent-background-1
      transition: opacity 0.5s ease

      &::after
        padding: 20px
        //background-color: mew-color-transparent-background-2
        //border-radius: 50px
        content: 'X Close'
        color: white
        font-weight: 700
        font-size: 30px
        position: fixed
        top: 30px
        right: 50px
        cursor: pointer


    .video-iframe iframe
      background-color: black
      background-image: url('images/youtube.svg')
      background-size: 200px
      background-position: center
      background-repeat: no-repeat
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: auto auto
      box-shadow: 0 10px 40px mew-color-box-shadow-1

  .open .video-popup
    .video-iframe
      display: block
  


//=========================================================================
// .mew___components_bottom-helpers
//=========================================================================
  .mew___components_bottom-helpers
    margin-top: 100px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px

    .block-item
      user-select: none
      padding: 35px 40px
      border: 1px solid mew-color-light-grey-2
      border-radius: 4px
      display: flex
      align-items: center

      .icon-image
        margin-right: 30px

      .content
        .title
          font-size: 24px
          font-weight: 600
          margin-bottom: 10px;

        p
          color: mew-color-light-grey-3
          font-size: 14px
          min-height: 65px

        .email-us a
          color: mew-color-green-1
          font-size: 16px
          font-weight: 500
          position: relative
          span
            position: absolute
            top: -24px
            left: 60px
            color: mew-color-green-1
            font-size: 50px
            margin-left: 10px

        .community-links
          a
            margin-right: 10px



//=========================================================================
// header
//=========================================================================
header
  background-color: #0b2840

  .header-wrap
    padding: 25px 0

  .top-block
    display: flex
    align-items: center
    
    .left
      display: flex
      align-items: center
      img
        height: 37px

      p
        border-left: 1px solid mew-color-green-1
        color: mew-color-green-1
        font-size: 18px
        padding-left: 20px
        margin-left: 20px

    .right
      margin-left: auto
      ul
        display: flex
        align-items: center
        li
          margin-left: 50px
          a
            font-size: 14px
            color: white


  .page-title
    display: inline-block
    display: block;
    max-width: 60%;
    margin: 40px auto 30px;

    .title
      color: white
      font-size: 42px;
      font-weight: 600;
      text-align: center
      margin-bottom: 30px
  

  .search-block
    display: inline-block
    display: block;
    max-width: 60%;
    margin: 40px auto 30px;

    .search-title
      color: white
      font-size: 42px;
      font-weight: 600;
      text-align: center
      margin-bottom: 30px

    .search-form-container
      position: relative

      .search-form-input
        padding: 20px 20px 20px 50px
        border-radius: 4px
        border: 0
        width: 100%
        margin: 0 auto
        display: block
        position: relative

      &::before
        content: '⚲'
        position: absolute
        top: 12px
        left: 17px
        transform: rotate(-45deg)
        color: #000
        display: inline-block
        font-size: 25px
        z-index: 1


      button
        display: none

    .search-bottom-text
      color: white
      text-align: center
      margin-top: 30px

//=========================================================================
// footer
//=========================================================================
footer
  background-color: mew-color-background-3
  p, a
    color: white

  .wrap
    display: flex
    align-items: center
    padding: 25px 0

  .block-left
    display: flex
    align-items: center
    p
      border-right: 1px solid white
      padding-right: 20px
      margin-right: 20px
      line-height: 15px

    p:last-child
      border-right: 0
      padding-right: 0
      margin-right: 0

  .block-right
    margin-left: auto



//=========================================================================
// .breadcrumbs-container
//=========================================================================
.breadcrumbs-container
  padding: 40px 0


//=========================================================================
// .article-container
//=========================================================================
.article-container
  padding: 0 0 50px 0
  display: grid
  grid-template-columns: 300px 1fr
  grid-gap: 50px


//=========================================================================
// .thumbs-and-share-container
//=========================================================================
.thumbs-and-share-container
  margin-top: 20px
  display: flex
  align-items: center

  .share
    margin-left: auto;



//=========================================================================
// aside
//=========================================================================
aside
  .search-form-container
    margin-bottom: 10px
    position: relative

    button
      display: none

    input
      width: 100%
      border: 0
      background-color: mew-color-light-grey-5
      padding: 20px 20px 20px 40px
      border-radius: 4px

    &::before
      content: '⚲'
      position: absolute
      top: 15px
      left: 17px
      transform: rotate(-45deg)
      color: #000
      display: inline-block
      font-size: 20px
      z-index: 1


  .sidebar-primary-category
    ul
      li
        margin-bottom: 5px
      li > a > div
        font-size: 14px
        border: 1px solid mew-color-green-1
        border-radius: 4px
        padding: 15px

        &:hover
          background-color: mew-color-light-grey-4
          color: black

        &.active
          background-color: mew-color-green-1
          color: white


//=========================================================================
// .mew___components_sidebar_customer-support-block
//=========================================================================
.mew___components_sidebar_customer-support-block
  margin-top: 10px
  .wrap
    border-radius: 4px
    padding: 30px 20px
    display: flex
    align-items: center
    background-color: mew-color-background-2

    .icon-image
      margin-right: 15px
      img
        width: 40px

    .content
      .title
        font-size: 20px
        font-weight: 600
        margin-bottom: 10px;

      .email-us a
        color: mew-color-green-1
        font-size: 16px
        font-weight: 500
        position: relative
        span
          position: absolute
          top: -17px
          left: 60px
          color: mew-color-green-1
          font-size: 40px
          margin-left: 10px



//=========================================================================
// .mew___components_breadcrumbs
//=========================================================================
.mew___components_breadcrumbs
  .wrap
    display: flex
    align-items: center
    div
      color: mew-color-green-1
      font-size: 14px
      font-weight: 500
      a
        color: mew-color-green-1
        font-size: 14px
        font-weight: 500

        &:hover
          color: red
          text-decoration: underline

        span
          color: mew-color-green-1
          font-size: 20px
          line-height: 20px
          font-weight: 500

    .post-title
      color: mew-color-text-1



//=========================================================================
// .mew___components_thumbs-up-down
//=========================================================================
.mew___components_thumbs-up-down
  .wrap
    padding: 20px 0
    display: flex
    align-items: center

    div
      margin-right: 15px
      display: flex
      align-items: center
      i
        font-size: 20px
        cursor: pointer
        &:hover
          color: mew-color-green-1


//=========================================================================
// .mew___components_share
//=========================================================================
.mew___components_share
  .wrap
    display: flex
    align-items: center

    .title
      font-weight: 500

    div
      margin-left: 20px

      i
        font-size: 20px
        color: mew-color-light-grey-2
        cursor: pointer

        &:hover
          color: mew-color-green-1


