
<div class="mew___components_bottom-helpers">
  <div class="block-item">
    <div class="icon-image">
      <img src="/images/mew-icons/customer-support.svg">
    </div>
    <div class="content">
      <div class="title">Customer Support</div>
      <p>Can't find your answer? Get in touch and we'll get back as soon as we can.</p>
      <div class="email-us">
        <a href="mailto:support@myetherwallet.com" target="_blank">
          Email us
          <span>&#x2192;</span>
        </a>
      </div>
    </div>
  </div>
  <div class="block-item">
    <div class="icon-image">
      <img src="/images/mew-icons/community.svg">
    </div>
    <div class="content">
      <div class="title">Community</div>
      <p>Join our MEW community, and get more information from us.</p>
      <div class="community-links">
        <a href="https://www.reddit.com/r/MyEtherWallet/" target="_blank"><img src="/images/mew-icons/reddit.svg"></a>
        <a href="https://github.com/MyEtherWallet" target="_blank"><img src="/images/mew-icons/github.svg"></a>
      </div>
    </div>
  </div>
</div>
<!-- .bottom-helpers -->
