
//=========================================================================
// body
//=========================================================================
p, span, h1, h2, h3, h4, h5, h6, div
  color: mew-color-text-1
  line-height: initial

h3
  font-size: 22px
  font-weight: 600

body
  font-family: 'Montserrat', sans-serif
  background: white

#wrap
  background: white

#main
  width: 100%

//=========================================================================
// MD document content styles
// .mew___md___content-style
//=========================================================================
.mew___md___content-style {
  
}


//=========================================================================
// Accordion Menu
//=========================================================================
.mew-tabs
  user-select: none



//=========================================================================
// .mew___major-categories
//=========================================================================
.mew___major-categories
  padding-top: 70px
  height: 80px

  >ul:nth-child(1)
    //margin-bottom: 50px;
    display: flex
    align-items: center
    >li
      font-size: 30px
      font-weight: 400
      padding: 0
      margin-right: 50px
      span
        cursor: pointer
        color: mew-color-light-grey-1
        line-height: initial
        padding-bottom: 7px
      &.active
        font-weight: 600
        span
          border-bottom: 2px solid mew-color-black
          color: mew-color-text-1

  >ul:nth-child(2)
    position: relative
    >li
      width: 100%
      position: absolute
      opacity: 0
      pointer-events: none
      transition: all 0.2s ease
      max-height: 0px
      overflow: hidden

    >li.active
      opacity: 1
      pointer-events: all
      max-height: 2000px



//=========================================================================
// .mew___categories_cat-faqs
//=========================================================================
.mew___categories_cat-faqs
  padding: 70px 0;
  .wrap
    border-top: 1px solid mew-color-background-1
    padding: 0 10px

    .accordion-header
      position: relative
      user-select: none
      cursor: pointer

      .post-title
        font-size: 18px
        font-weight: 600
        padding: 25px 0

      .post-button
        &::before,
        &::after
          position: absolute
          right: 0
          top: 0
          bottom: 0
          margin: auto 0
          content: ''
          height: 4px
          width: 20px
          background-color: mew-color-text-1

        &::after
          transform: rotate(90deg)
          transition: all 0.9s ease

    .accordion-content
      overflow: hidden
      max-height: 0
      transition: all 0.7s ease

      h2
        display: none

      .padding-block
        padding-bottom: 30px

  >*.open
    .accordion-content
      max-height: 2000px

    .accordion-header
      .post-button::after
        transform: rotate(720deg)




//=========================================================================
// .mew___categories_cat-categories
//=========================================================================
.mew___categories_cat-categories
  padding: 70px 0

  .category-container
    .cat-group
      margin-bottom: 60px

      ul
        padding-top: 20px
        display: grid
        grid-gap: 15px
        grid-template-columns: 1fr 1fr 1fr
        width: 100%
        li
          user-slect: none
          cursor: pointer
          background-color: mew-color-background-2
          padding: 15px
          display: flex
          align-items: center

          p
            font-size: 20px
            font-weight: 400


//=========================================================================
// .mew___components_bottom-helpers
//=========================================================================
  .mew___components_bottom-helpers
    margin-top: 100px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px

    .block-item
      user-select: none
      padding: 35px 40px
      border: 1px solid mew-color-light-grey-2
      border-radius: 4px
      display: flex
      align-items: center

      .icon-image
        margin-right: 30px

      .content
        .title
          font-size: 24px
          font-weight: 600
          margin-bottom: 10px;

        p
          color: mew-color-light-grey-3
          font-size: 14px
          min-height: 60px

        .email-us
          color: mew-color-green-1



