
//=========================================================================
// body
//=========================================================================
p, span, h1, h2, h3, h4, h5, h6, div
  color: mew-color-text-1

body
  font-family: 'Montserrat', sans-serif
  background: white

#wrap
  background: white

#main
  width: 100%

//=========================================================================
// MD document content styles
// .mew___md___content-style
//=========================================================================
.mew___md___content-style {
  
}



//=========================================================================
// .mew___major-categories
//=========================================================================
.mew___major-categories
  user-select: none;
  padding-top: 70px
  height: 80px

  ul:nth-child(1)
    margin-bottom: 50px;
    display: flex
    align-items: center
    li
      font-size: 30px
      font-weight: 400
      padding: 0
      margin-right: 50px
      span
        cursor: pointer
        color: mew-color-light-grey-1
        line-height: initial
        padding-bottom: 7px
      &.active
        font-weight: 600
        span
          border-bottom: 2px solid mew-color-black
          color: mew-color-text-1

  ul:nth-child(2)
    position: relative
    li
      position: absolute
      opacity: 0
      pointer-events: none
      transition: opacity 0.2s ease;

    li.active
      opacity: 1
      pointer-events: all

//=========================================================================
// .mew___posts_cat-faqs
//=========================================================================
.mew___posts_cat-faqs
  border-top: 1px solid mew-color-background-1
  padding: 0 10px

  .accordion-header
    position: relative
    user-select: none
    cursor: pointer

    .post-title
      font-size: 18px
      font-weight: 600
      padding: 25px 0

    .post-button
      &::before,
      &::after
        position: absolute
        right: 0
        top: 0
        bottom: 0
        margin: auto 0
        content: ''
        height: 4px
        width: 20px
        background-color: mew-color-text-1

      &::after
        transform: rotate(90deg)
        transition: all 0.9s ease

  .accordion-content
    overflow: hidden
    max-height: 0
    transition: all 0.3s ease

    h2
      display: none

    .padding-block
      padding-bottom: 30px


.mew___posts_cat-faqs.open
  .accordion-content
    max-height: 2000px


  .accordion-header
    .post-button::after
      transform: rotate(720deg)

