
//=========================================================================
// body
//=========================================================================
body
  font-family: 'Montserrat', sans-serif
  background: white

#wrap
  background: white

//=========================================================================
// MD document content styles
// .mew___md___content-style
//=========================================================================
.mew___md___content-style {
  
}



//=========================================================================
// .mew___major-categories
//=========================================================================
.mew___major-categories
  padding-top: 70px
  height: 80px
  ul
    display: flex
    align-items: center
    li
      font-size: 30px
      font-weight: 400
      padding: 0
      margin-right: 50px
      span
        cursor: pointer
        color: mew-color-light-grey-1
        line-height: initial
        padding-bottom: 7px
      &.active
        font-weight: 600
        span
          border-bottom: 2px solid mew-color-black
          color: mew-color-text-1



//=========================================================================
// .mew___posts_cat-faqs
//=========================================================================
.mew___posts_cat-faqs
  border-top: 1px solid mew-color-background-2
  padding: 0 10px

  .accordion-header
    position: relative

    .post-title
      font-size: 18px
      font-weight: 600
      padding: 25px 0

    .post-button
      &::before,
      &::after
        position: absolute
        right: 0
        top: 0
        bottom: 0
        margin: auto 0
        content: ''
        height: 4px
        width: 20px
        background-color: mew-color-black

      &::after
        transform: rotate(90deg)

  .accordion-content
    overflow: hidden
    height: 0

    .padding-block
      padding-bottom: 30px


