<div class="mew___components_major-categories page-container">
  <ul>
    <li class="<%= category == 'faqs' ? 'active' : '' %>" ref="tab1"><a href="/faqs"><span>FAQs</span></a></li>
    <li class="<%= category == 'categories' ? 'active' : '' %>" ref="tab2"><a href="/categories"><span>Categories</span></a></li>
    <li class="<%= category == 'videos' ? 'active' : '' %>" ref="tab3"><a href="/videos"><span>Videos</span></a></li>
  </ul>
</div>
