<div class="mew___components_share">
  <div class="wrap">
    <div class="title"><%= _p('share_to') %></div>
    <div><a href="https://www.facebook.com/MyEtherWallet" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
    <div><a href="https://twitter.com/myetherwallet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
    <div><a href="https://www.linkedin.com/company/myetherwallet" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
    <div><a href="https://www.reddit.com/r/myetherwallet" target="_blank"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></div>
    <div><a href="https://medium.com/@myetherwallet" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></div>
  </div>
</div>
