<%- partial('_partial/head') %>
<body>
  <div class="site-container">
    <div class="site-wrap">
      <%- partial('mew/router', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
