<%- partial('_partial/head') %>
<body>
  <div class="site-container">
    <div class="site-wrap">
      <%- partial('mew/router', null) %>
      <%- partial('mew/components/footer/footer', null) %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
