
<div class="mew___components_sidebar_customer-support-block">
  <div class="wrap">
    <div class="icon-image">
      <img src="/images/mew-icons/customer-support.svg">
    </div>
    <div class="content">
      <div class="title">Customer Support</div>
      <div class="email-us">
        <a href="mailto:support@myetherwallet.com" target="_blank">
          Email us
          <span>&#x2192;</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- .bottom-helpers -->
